{% extends "main/layouts/base.html" %}

{% block title %}
<title>{{user}} | Random API</title>
{% endblock %}

{% block content %}
<div class="container">
    <span>Your API Key:</span><br>
    <input type="text" class="form-control mb-2" id="api-key" placeholder="{{customer.api_key}}" readonly>

    <div class="card mt-3">
        <div class="card-body">
            <span>Total requests: {{total_requests}}</span><br>
            <span>Total requests today: {{total_requests_today}}</span><br>
            <span>Total requests yesterday: {{total_requests_yesterday}}</span>
        </div>
        <img src="{{image}}">
    </div>
</div>
{% endblock %}