{% extends "main/layouts/base.html" %}

{% block title %}
<title>{{user}} | Random API</title>
{% endblock %}

{% block content %}
<div class="container">
    <span>Your API Key:</span><br>
    <input type="text" class="form-control mb-2" id="api-key" placeholder="{{customer.api_key}}" readonly>
    <button class="btn btn-primary" id="change-api-key">Change</button>
</div>
{% endblock %}

{% block script %}
<script>
    $('#change-api-key').click(() => {
        const api_key = $('#api-key').attr('placeholder');
        $.ajax({
            type: 'PUT',
            url: '{% url "api-change-api-key" %}',
            data: JSON.stringify({
                'api-key': api_key
            }),
            success: (data) => {
                data = JSON.parse(data);
                $('#api-key').attr('placeholder', data.new_api_key);
            }
        });
    });
</script>
{% endblock %}