{% extends "main/layouts/base.html" %}

{% block content %}
<div class="w-full max-w-md md:max-w-lg mx-auto">
    <form class="rounded px-8 pt-6 pb-8 mb-4" method="post">
        {% csrf_token %}
        {% if error_msg %}
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative mb-2" role="alert">
            <span class="block sm:inline">{{ error_msg }}</span>
        </div>
        {% endif %}
        {% if success_msg %}
        <div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative mb-2" role="alert">
          <span class="block sm:inline">{{ success_msg }}</span>
        </div>
        {% endif %}
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
          Username
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline hover:border-blue-400" id="username" type="text" placeholder="Username" name="username" required>
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
          Password
        </label>
        <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mb-3 leading-tight focus:outline-none focus:shadow-outline hover:border-blue-400" id="password" type="password" placeholder="Password" name="password" required>
      </div>
      <div class="mb-4">
        <div class="g-recaptcha" data-sitekey="{{ G_CAPCTHA_PUBLIC_KEY }}"></div>
      </div>
      <div class="flex items-center justify-between">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Login
        </button>
        <a class="cursor-pointer inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" onclick="alert('coming soon!')">
          Forgot Password?
        </a>
      </div>

      <div class="mt-5 text-center">
        <p>Don't have an account yet? <a href="{% url 'register' %}" class="font-bold text-blue-500 hover:text-blue-600">register here</a></p>
      </div>
    </form>
</div>
{% endblock %}