<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    <title>Random API</title>
    {% endblock %}
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/tailwind.css">
    <script src='https://www.google.com/recaptcha/api.js' async defer></script>
</head>
<body class="font-mono">
    <div class="bg-gradient-to-b from-blue-600 to-blue-400 sticky top-0 z-50">
        <div class="w-full h-14 flex mx-auto">
            <div class="mx-2 md:container flex items-center md:mx-auto md:justify-between">
                <div class="text-2xl text-white flex items-center">
                    <div class="md:hidden mr-2 cursor-pointer" id="navbar-expand">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </div>
                    <div><a href="/">Random API</a></div>
                </div>
                <div class="hidden md:flex text-xl text-gray-200 px-5">
                    <div class="hover:text-white mx-1"><a href="/">Home</a></div>
                    <div class="mx-1">|</div>
                    <div class="hover:text-white mx-1">
                        <a href="/api/docs">Documentation</a>
                    </div>
                    <div class="mx-1">|</div>
                    <div class="hover:text-white mx-1">
                        {% if user.is_authenticated %}
                        <a href="{% url 'dashboard' %}">Dashboard</a>
                        {% else %}
                        <a href="{% url 'login' %}">Login</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="hidden md:hidden fixed w-1/2 bg-blue-400 h-screen text-gray-200 text-center" id="navbar-expanded">
        <div class="hover:text-white my-3"><a href="/">Home</a></div>
        <div class="hover:text-white my-3">Documentation</div>
        <div class="hover:text-white my-3">
            {% if user.is_authenticated %}
            <a href="{% url 'dashboard' %}">Dashboard</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            {% endif %}
        </div>
    </div>

    <div class="container mx-auto">
        {% block content %}
        {% endblock %}
    </div>

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript">
        $('#navbar-expand').click(() => {
            $('#navbar-expanded').toggleClass('hidden');
        });
    </script>

    {% block script %}
    {% endblock %}
</body>
</html>